body{
	margin: 0;
}

a{
	text-decoration: none;
}

.container{
	color: #262A2E;
	font-size: 15px;
}
 /*CSS for Header*/
.header{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	border-bottom: 1px #DEE1E6;
	box-shadow: 0 0 5px grey;
	padding: 10px;
}

div.headerTitle{
	display: block;
	float: left;
}

.navTop{	
	float: right; 
	margin-right: 5px;
}

.navTop li{
	display: inline;
	margin-right: 5px;
	padding: 5px; 
	font-size: 20px;
 }

.navTop li > a{
	text-decoration: none;
	color: #262A2E;
}

.navTop a:hover{
	text-decoration: underline;
}
 /*CSS for footer*/
.footer{	
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 10%;

}

.footer div{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer h3{
	margin-bottom: 10px; 
}

.footer div > p{
	margin: 0;
}

/*CSS for main content*/

.contentConteiner{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 5% 0 5% 0;
}

.infoContainer{
	text-align: center;
	font-size: 25px; 
	margin: 0 20% 0 20%;
}


/* CSS for buy blocks*/
.buyConteiner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.buyBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #DEE1E6;
	border-radius: 10px;
	height: auto;
	width: 235px;
	margin: 10px 10px 0 0;
}

.buyBlockHeader{
	display: flex;
	height: 50px;
	width: 235px;
	align-items: center;
	justify-content: center;
	background-color: #DEDEDE;
	border-bottom: 1px solid #DEE1E6;
	border-radius: 10px 10px 0 0;
}

.buyBlockContent{
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
}

.buyBlockHeader h2{
	font-size: 25px;
	margin: 0;
}

.buyBlockContent h3{
	font-size: 20px;
	margin: 15px;
}

.buyBlockContent p{
	font-size: 15px;
	margin: 0;
}
.buyBlockContent a {
	color: white;
}

.buyBlockContent > .btns{	
	padding: 10px 20px 10px 20px;	
	width: 150px;
	margin: 10px;
	text-align: center;
}

/*CSS for sign up page*/

.signUp_page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10% 0 10% 0;
}

.signUp_page p{
	margin: 0;
}

/* CSS for Bttns */
.btns{	
	border-radius: 5px;
	border: 1px solid #1da1f2;
	font-size: 20px;
	color: white;
	background-color: #1da1f2;
	text-decoration: none;
	padding: 5px;
}

.btns:hover{
	background-color: white;
	color: #1da1f2;
}